table {
  width: 100%;
  padding: 10px;
}

.align-center {
  text-align: center;
}

td {
  text-align: center;
}

.th-month {
  width: 40px;
}

.spinner-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  z-index: 9999;
}
